@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-[#111b21] to-[#202c33] text-white;
}


::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
